{% load static %}

<li>
    <article class="post">
        <a href="">
        <img src ="{% static "labour/images/worker.jpg" %}" alt= "labour information"/>
        <div class ="post__content"> 
            <h3>labour information</h3>
            <p> So, this is basically have all the details about different types of labour 
                who have different varities of skills and rates they charge.
                you can contact them , their phone number and skills are been written their.
            </p>
        </div>     
        </a>
    </article>
</li>