{% extends "base.html" %}
{% load static %}

{% block title %}
All My Posts
{% endblock %}

{% block css_files %}
 <link rel="stylesheet" href="{% static "labour/post.css" %}" /> 
 <link rel="stylesheet" href="{% static "labour/all-posts.css" %}" /> 
{% endblock %}


{% block content%}
<section id="all-posts"></section>
<h2>My Collected Posts</h2>

 <ul>
    {% include "labour/includes/post.html" %}
    {% include "labour/includes/post.html" %}
    {% include "labour/includes/post.html" %}
    {% include "labour/includes/post.html" %}
    {% include "labour/includes/post.html" %}
    {% include "labour/includes/post.html" %}
    {% include "labour/includes/post.html" %}
 </ul>

{% endblock %}